
#main-header img{
  width: 100%;
  height: 100%;
}
#main-header .port-item{
  width: 30%;
}

#main-header .port-item:hover{
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  background-color: #333;
  color: #fff
}

.description h4, h3{
  padding: 8px;
}

/* Skill Logo Colors */
#html-logo{
  color: orange;
}
#css-logo{
  color: blue;
}
#js-logo{
  color: rgb(94.5%, 94.5%, 25.4%);
}
#terminal-logo{
  color: #aaa;
}
#bootstrap-logo{
  color: purple;
}


@media (min-width: 1199px){
  .port-item{
    padding: 3em !important;
  }
}